<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="OffMeetMapper">

	<resultMap type="offMeet" id="offmeetSelectMap">
		<result property="offNo" 				column="OFF_NO" 		jdbcType="INTEGER"/>
  		<result property="user.userId" 	column="USER_ID" 		jdbcType="VARCHAR"/>
  		<result property="meet.meetId" 		column="MEET_ID"		jdbcType="VARCHAR"/>
  		<result property="offName"		column="OFF_NAME" jdbcType="VARCHAR"/>
  		<result property="offLoc" 		column="OFF_LOC" 	jdbcType="VARCHAR"/>
  		<result property="offMax" 		column="OFF_MAX" jdbcType="INTEGER"/>
  		<result property="offMem" 			column="OFF_MEM" 		jdbcType="INTEGER"/>
  		<result property="amount" 			column="AMOUNT" 	jdbcType="INTEGER"/>
  		<result property="offDate" 			column="OFF_DATE" 	jdbcType="VARCHAR"/>
  		<result property="offTime" 			column="OFF_TIME" 		jdbcType="VARCHAR"/>  		 
  	</resultMap>
  	
	<resultMap type="pay" id="paySelectMap">
		<result property="payNo" 				column="PAY_NO" 		jdbcType="INTEGER"/>
  		<result property="user.userId" 	column="USER_ID" 		jdbcType="VARCHAR"/>
  		<result property="meet.meetId" 		column="MEET_ID"		jdbcType="VARCHAR"/>
  		<result property="offMeet.offNo" 		column="OFF_NO"		jdbcType="INTEGER"/>
		<result property="business.businessId" 		column="BUSINESS_ID"		jdbcType="VARCHAR"/>	
  		<result property="reserveMemNum"		column="RESERVE_MEM_NUM" jdbcType="INTEGER"/>
  		<result property="reserveStartTime" 		column="RESERVE_START_TIME" 	jdbcType="VARCHAR"/>
  		<result property="reserveEndTime" 		column="RESERVE_END_TIME" jdbcType="VARCHAR"/>
  		<result property="reserveDate" 			column="RESERVE_DATE" 		jdbcType="DATE"/>
  		<result property="totalAmount" 			column="TOTAL_AMOUNT" 	jdbcType="INTEGER"/>
  		<result property="payDate" 			column="PAY_DATE" 	jdbcType="DATE"/>
  		<result property="payMethod" 			column="PAY_METHOD" 		jdbcType="CHAR"/>  		 
  	</resultMap>
   	
   	
   	<resultMap type= "meetmemoffmeet" id="meetmemoffmeetSelectMap">
   	<result property="meetMemOffmeetNO" column="MEETMEM_OFFMEET_NO"  jdbcType="INTEGER"/>
   	<result property="meetmem.memId"   column ="MEM_ID"         jdbcType="INTEGER"/>
    <result property="offMeet.offNo"	column="OFF_NO" 		jdbcType="INTEGER"/>
		
	</resultMap>
   	
	<select id="getOff" parameterType="int" resultMap="offmeetSelectMap">
  		SELECT 
 		off_no, user_id, meet_id, off_name, off_loc, off_max, off_mem, amount, off_date, off_time
		FROM offmeet
		WHERE
		off_no = #{offNo}
  	</select>
  	
	<insert id="addOff" parameterType="offMeet">
		INSERT 
		INTO offmeet(off_no, user_id, meet_id, off_name, off_loc, off_max, off_mem, amount, off_date, off_time)
		VALUES (
					seq_offmeet_off_no.NEXTVAL,
					#{user.userId:VARCHAR},
					#{meet.meetId:VARCHAR},
					#{offName:VARCHAR},
					#{offLoc:VARCHAR},
					#{offMax:INTEGER},
					#{offMem:INTEGER},
					#{amount:INTEGER},
					#{offDate:VARCHAR},
					#{offTime:VARCHAR}
					)
	</insert>
	
  	<update	id="updateOff"	parameterType="int" >
	   	UPDATE offmeet
	   	<set>
			off_name = #{offName:VARCHAR},
			off_loc = #{offLoc:VARCHAR}
	   	</set>
	   	WHERE off_no = #{offNo}
	 </update>


	<update id ="updateOffMem" parameterType="pay">
	UPDATE offmeet
	<set>
	off_mem = off_mem +1
	</set>
	WHERE off_no = #{offMeet.offNo}
	</update>
	 
		  
	 <insert id="addOffPay" parameterType ="pay">
	 	INSERT 
		INTO pay(pay_no, user_id, meet_id, off_no, total_amount, pay_date, pay_method)
		VALUES (
					seq_pay_pay_no.NEXTVAL,
					#{user.userId:VARCHAR},
					#{meet.meetId:VARCHAR},
					#{offMeet.offNo:INTEGER},
					#{totalAmount:INTEGER},
					SYSDATE,
					#{payMethod:CHAR}
					)
	</insert>
	 
	 
	 <select id="getOffPay" parameterType="int" resultMap="paySelectMap">
  		SELECT 
		p.pay_date, user_id, meet_id, off_no, total_Amount, pay_date, pay_method
		FROM pay p , user u, offMeet o, meet m 
     	off_no= #{offNo}
     	AND o.off_no(+) = p.off_no
     	ADN m.meet_id(+) = p.meet_id
  	</select>
  	
  	
	 
	  <insert id="addBusinessPay" parameterType ="pay">
	 	INSERT 
		INTO pay(pay_no, user_id, meet_id, off_no, business_id, total_amount, pay_date, pay_method, reserve_date, reserve_start_time, reserve_end_time, reserve_mem_num)
		VALUES (
					seq_pay_pay_no.NEXTVAL,
					#{user.userId:VARCHAR},
					#{meet.meetId:INTEGER},
					#{offMeet.offNo:INTEGER},
				    #{business.businessId:VARCHAR},
					#{totalAmount:INTEGER},
					SYSDATE,
					#{payMethod:CHAR},
					#{reserveDate:VARCHAR},
					#{reserveStartTime:VARCHAR},
					#{reserveEndTime:VARCHAR},
					#{reserveMemNum:INTEGER}
					)
	</insert>
	
	 
	 <select id="getBusinessPay" parameterType="int" resultMap="paySelectMap">
  		SELECT 
		p.pay_date, u.user_id, b.business_id, p.total_amount, p.reserve_mem_num, p.reserve_start_time, p.reserve_end_time, p.reserve_date
		FROM pay p, business b, user u
		business_no = #{businessNo} 
		AND o.off_no(+) = p.off_no
     	AND m.meet_id(+) = p.meet_id
  	</select>
  	
  			 	
</mapper>





